{% extends 'base.html' %}

{% block content %}
    <div class="card text-bg-dark">
      <img src="https://da678dd1-1531-47b1-b990-6d2b56eaa29e-00-xfkwo11nsoyg.spock.replit.dev/static/banner.jpg"                 class="card-img" alt="...">
      <div class="card-img-overlay">
        <h5 class="card-title">Card title</h5>
        <p class="card-text">This is a wider card with supporting text below as a natural lead-in to additional content.           This content is a little bit longer.</p>
        <p class="card-text"><small>Last updated 3 mins ago</small></p>
      </div>
    </div>
{% endblock %}    