{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/professor.css') }}">
    <div class="container"></div>
        <div class="main-body">
            <div class="container-md">
                <div class="row gutters-sm">
                    <div class="col-md-4 mb-3">
                    <div class="card">
                        <div class="card-body">
                        <div class="d-flex flex-column align-items-center text-center">
                            <img src="{{professor['Image']}}" alt="Admin" class="rounded-circle" width="150">
                            <div class="mt-3">
                            <h4>{{professor['Name']}}</h4>
                            <p class="text-secondary mb-1">{{professor['Title']}}</p>
                            <p class="text-muted font-size-sm">{{professor['Department']}}</p>
                            <button class="btn btn-primary">Follow</button>
                            <button class="btn btn-outline-primary">Message</button>
                            </div>
                        </div>
                        </div>
                    </div>
                    <div class="card mt-3">
                        <ul class="list-group list-group-flush">
                        <li class="list-group-item d-flex justify-content-between align-items-center flex-wrap">
                            <h6 class="mb-0"><svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="feather feather-globe mr-2 icon-inline"><circle cx="12" cy="12" r="10"></circle><line x1="2" y1="12" x2="22" y2="12"></line><path d="M12 2a15.3 15.3 0 0 1 4 10 15.3 15.3 0 0 1-4 10 15.3 15.3 0 0 1-4-10 15.3 15.3 0 0 1 4-10z"></path></svg>Website</h6>
                            <span class="text-secondary">https://bootdey.com</span>
                        </li>
   
                        </ul>
                    </div>
                    </div>
                    <div class="col-md-8">
                    <div class="card mb-3">
                        <ul class="nav nav-tabs" id="myTab" role="tablist">
                            <li class="nav-item" role="presentation">
                              <button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home-tab-pane" type="button" role="tab" aria-controls="home-tab-pane" aria-selected="true">Results report</button>
                            </li>
                            <li class="nav-item" role="presentation">
                              <button class="nav-link" id="profile-tab" data-bs-toggle="tab" data-bs-target="#profile-tab-pane" type="button" role="tab" aria-controls="profile-tab-pane" aria-selected="false">Your assessment</button>
                            </li>
                          </ul>
                          <div class="tab-content" id="myTabContent">
                            <div class="tab-pane fade show active" id="home-tab-pane" role="tabpanel" aria-labelledby="home-tab" tabindex="0">This is some placeholder content the Home tab's associated content. Clicking another tab will toggle the visibility of this one for the next. The tab JavaScript swaps classes to control the content visibility and styling. You can use it with tabs, pills, and any other .nav-powered navigation.</div>
                            <div class="tab-pane fade" id="profile-tab-pane" role="tabpanel" aria-labelledby="profile-tab" tabindex="0">
                                <form method="post">
                                    {{ form.hidden_tag() }}
                                    <div class="metrics row">
                                        {% for field in form %}
                                            {% if "rating" in field.name %}
                                            <div class="metric row">
                                                <div class="row">
                                                    <span class="metric-name">{{field.label.text}}</span>              
                                                </div>
                                                <div class="row">
                                                    <div class="col-2 col-xs-push-10">
                                                        <p class="bottom-bound">{{field.description['lowest_label']}}</p>
                                                    </div>
                                                    <div class="col-8 rating-container">
                                                        <fieldset class="rating">
                                                            {% for subfield in field %}
                                                            <label for="{{ subfield.id }}" title="{{ subfield.label.text }}">
                                                                {{ subfield }}
                                                                <span>{{ subfield.label.text }}</span>
                                                            </label>
                                                            {% endfor %}
                                                        </fieldset>
                                                        <hr>
                                                    </div>
                                                    <div class="col-2 col-xs-pull-10">
                                                        <p class="upper-bound">{{field.description['highest_label']}}</p>
                                                    </div>
                                                </div>
                                            </div>
                                            {% endif %}
                                        {% endfor %}
                                        <hr>
                                    </div>
                                    <div class="form-field">
                                        <div class="tag-attributes">
                                            <div class="ta-center row">
                                                <span class="ta-page-info">
                                                  <b>
                                                    <span id="ta-page_number">1</span> / <span id="ta-num_pages">18</span>
                                                  </b>
                                                </span>
                                            </div>
                                            {% for field in form %}
                                                {% if "personality" in field.name %}
                                                    <div class="ta-slide" data-page="{{field.description['data-page']}}" style="{{'display:block;' if loop.index == 5 else 'display:none;'}}">
                                                        <div class="row ta-question-row">
                                                        <div class="col-1 col-xs-push-11 ta-arrow">
                                                            <a class="ta-arrow-left {{'disabled' if loop.index == 5}}">
                                                            <div class="icon-ta-arrow-left"></div>
                                                            </a>
                                                        </div>
                                                        <div class="col-10 ta-center">
                                                            <div>
                                                            <span class="ta-question"> {{field.label.text}} </span>
                                                            </div>
                                                        </div>
                                                        <div class="col-1 col-xs-pull-11 ta-arrow">
                                                            <a class="ta-arrow-right {{'disabled' if loop.index == 22}}">
                                                            <div class="icon-ta-arrow-right"></div>
                                                            </a>
                                                        </div>
                                                        </div>
                                                        <div class="ta-answer-row">
                                                        <div class="ta-answer-box row">
                                                            {% for subfield in field %}
                                                                <div class="{{'col' if field.type == 'RadioField' else 'col nme'}}">
                                                                    <label>
                                                                        {% if field.type == 'RadioField' %}
                                                                            {{subfield}}
                                                                        {% elif field.type == 'SelectMultipleField' %}
                                                                            <input type="checkbox" name="{{subfield.name}}" value="{{subfield.data}}">
                                                                        {% endif %}
                                                                        <span>{{ subfield.label.text }}</span>
                                                                    </label>
                                                                </div>
                                                            {% endfor %}
                                                        </div>
                                                        <div class="row">
                                                            <div class="col-12 ta-answer-skip-wrapper">
                                                            <a href="#" class="ta-answer-skip"> next > </a>
                                                            </div>
                                                        </div>
                                                        </div>
                                                    </div>
                                                {% endif %}
                                            {% endfor %}
                            
                                        </div>
                                    </div>
                                    <hr>
                                    <div class="row">
                                        <div class="col-md-12">
                                            <div class="row coursegrade" notsubmitted="true">
                                                {% for subform in form.Courses %}
                                                  <div class="col-sm-4 col-sm-push-8">
                                                      <label>your course with professor?</label>
                                                      <div>
                                                          <select name="{{ subform.course.name }}" class="form-control select2-js" tabindex="-1" aria-hidden="true">
                                                              <option value="-1"> --- </option>
                                                              {% for value, label in subform.course.choices %}
                                                                  <option value="{{ value }}" {% if subform.course.data == value %} selected {% endif %}>
                                                                      {{ label }}
                                                                  </option>
                                                              {% endfor %}
                                                          </select>
                                                      </div>
                                                  </div>
                                                {% endfor %}
                                    <div class="col-sm-1 col-sm-pull-11 visually-hidden remove-col">
                                        <label> حذف </label>
                                        <div style="text-align: center;">
                                          <i class="fa fa-minus-circle remove-coursegrade-row"></i>
                                        </div>
                                    </div>
                                            </div>
                                            <a href="#" class="more-coursegrade">
                                                <i class="fa fa-plus"></i>
                                                did you have another course?
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                          </div>
                    </div>
    
                    
    
    
    
                    </div>
                </div>
            </div>
            

        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
        <script src="https://kit.fontawesome.com/d235b914c5.js" crossorigin="anonymous"></script>
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <script src= "{{ url_for('static', filename='js/personality-pagination.js') }}"></script>


{% endblock %}