{% extends 'base.html' %}

{% block content %}
    <link rel="stylesheet" href="{{ url_for('static', filename='css/professor.css') }}">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css" rel="stylesheet" />
    <!-- Toastr JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.js"></script>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css">
    <script src="https://code.jquery.com/jquery-3.6.4.min.js"></script>
    <form method="post">
        {{ form.hidden_tag() }}
        <div class="metrics row">
            {% for field in form %}
                {% if "rating" in field.name %}
                <div class="metric row">
                    <div class="row">
                        <span class="metric-name">{{field.label.text}}</span>              
                    </div>
                    <div class="row">
                        <div class="col-2 col-xs-push-10">
                            <p class="bottom-bound">{{field.description['lowest_label']}}</p>
                        </div>
                        <div class="col-8 rating-container">
                            <fieldset class="rating">
                                {% for subfield in field %}
                                <label for="{{ subfield.id }}" title="{{ subfield.label.text }}">
                                    {{ subfield }}
                                    <span>{{ subfield.label.text }}</span>
                                </label>
                                {% endfor %}
                            </fieldset>
                            <hr>
                        </div>
                        <div class="col-2 col-xs-pull-10">
                            <p class="upper-bound">{{field.description['highest_label']}}</p>
                        </div>
                    </div>
                </div>
                {% endif %}
            {% endfor %}
        </div>
        <div class="form-field">
            <div class="tag-attributes">
                <div class="ta-center row">
                    <span class="ta-page-info">
                      <b>
                        <span id="ta-page_number">1</span> / <span id="ta-num_pages">18</span>
                      </b>
                    </span>
                </div>
                {% for field in form %}
                    {% if "personality" in field.name %}
                        <div class="ta-slide" data-page="{{field.description['data-page']}}" style="{{'display:block;' if loop.index == 5 else 'display:none;'}}">
                            <div class="row ta-question-row">
                            <div class="col-1 col-xs-push-11 ta-arrow">
                                <a class="ta-arrow-left {{'disabled' if loop.index == 5}}">
                                <div class="icon-ta-arrow-left"></div>
                                </a>
                            </div>
                            <div class="col-10 ta-center">
                                <div>
                                <span class="ta-question"> {{field.label.text}} </span>
                                </div>
                            </div>
                            <div class="col-1 col-xs-pull-11 ta-arrow">
                                <a class="ta-arrow-right {{'disabled' if loop.index == 18}}">
                                <div class="icon-ta-arrow-right"></div>
                                </a>
                            </div>
                            </div>
                            <div class="ta-answer-row">
                            <div class="ta-answer-box row">
                              {% for subfield in field %}
                                <div class="col">
                                    <label>
                                        {% if field.type == 'RadioField' %}
                                            {{subfield}}  <!-- Renders the radio button input -->
                                        {% elif field.type == 'SelectMultipleField' %}
                                            <input type="checkbox" name="{{subfield.name}}" value="{{subfield.data}}">
                                        {% endif %}
                                        <span>{{ subfield.label.text }}</span>
                                    </label>
                                </div>
                              {% endfor %}
                          
                            </div>
                            <div class="row">
                                <div class="col-12 ta-answer-skip-wrapper">
                                <a href="#" class="ta-answer-skip"> next > </a>
                                </div>
                            </div>
                            </div>
                        </div>
                    {% endif %}
                {% endfor %}

            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                <div class="row coursegrade" notsubmitted="true">
                    {% set subform = form.Courses[0] %}
                    <div class="row">
                        {% for field_name, field in subform._fields.items() %}
                            {% if field_name != 'csrf_token' %}
                            <div class="{{ field.render_kw.col }}">
                                <label>{{ field.label.text }}</label>
                                <div>
                                    <select name="{{ field.name }}" class="{{ field.render_kw.class }}" tabindex="-1" aria-hidden="true">
                                        <option value="-1"> --- </option>
                                        {% for value, label in field.choices %}
                                            <option value="{{ value }}" {% if field.data == value %} selected {% endif %}>
                                                {{ label }}
                                            </option>
                                        {% endfor %}
                                    </select>
                                </div>
                            </div>
                            {% endif %}
                        {% endfor %}
                    </div>
                    
                    
                    <div class="col-sm-1 col-sm-pull-11 visually-hidden remove-col">
                        <label> حذف </label>
                        <div style="text-align: center;">
                        <i class="fa fa-minus-circle remove-coursegrade-row"></i>
                        </div>
                    </div>
                </div>
                <a href="#" class="more-coursegrade">
                    <i class="fa fa-plus"></i>
                    did you have another course?
                </a>
            </div>
        </div>
        <hr>
        <div class="row">
            <div class="col-md-12">
                {{ form.review.label }}
                {{ form.review(size=20, placeholder=form.review.render_kw['placeholder'] % professor['Name']) }}
            </div>
        </div>
        

    </form>
    <script src="https://kit.fontawesome.com/d235b914c5.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
    <script src= "{{ url_for('static', filename='js/personality-pagination.js') }}"></script>

{% endblock %}